modules = ["nodejs-20", "web", "python-3.11", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["at-spi2-atk", "at-spi2-core", "atk", "dbus", "geckodriver", "gitFull", "gitMinimal", "glib", "glibcLocales", "libxcrypt", "libxkbcommon", "nspr", "nss", "playwright", "playwright-driver", "xcodebuild", "xorg.libX11", "xorg.libXcomposite", "xorg.libXdamage", "xorg.libXext", "xorg.libXfixes", "xorg.libXrandr", "xorg.libxcb", "zlib"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[objectStorage]
defaultBucketID = "replit-objstore-95854b9e-eb33-4c6f-8a69-9fa78da9152c"

[agent]
integrations = ["javascript_sendgrid:1.0.0", "javascript_websocket:1.0.0", "javascript_stripe:1.0.0", "javascript_log_in_with_replit:1.0.0", "javascript_anthropic:1.0.0", "javascript_object_storage:1.0.0", "perplexity_v0:1.0.0", "javascript_openai:1.0.0", "javascript_database:1.0.0", "javascript_google_analytics:1.0.0", "javascript_xai:1.0.0", "google-mail:1.0.0"]

[userenv]

[userenv.production]
APP_URL = "https://myseniorvalet.com"

[userenv.development]
APP_URL = "https://7a9daf58-f7c7-49c7-b4de-a709c13987b5-00-3l1b8tvcpa4bp.janeway.replit.dev"

[userenv.shared]
PLAYWRIGHT_SKIP_VALIDATE_HOST_REQUIREMENTS = "true"
PLAYWRIGHT_BROWSERS_PATH = "0"
PUBLIC_OBJECT_SEARCH_PATHS = "community-photos/"
PRIVATE_OBJECT_DIR = ".private"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000
